/* basic normalize */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* variables */

:root {
  --color-primary-1: hsl(233, 26%, 24%);
  --color-primary-2: rgb(49, 211, 92);
  --color-primary-3: hsl(192, 70%, 51%);

  --color-neutral-1: hsl(233, 8%, 62%);
  --color-neutral-2: hsl(220, 16%, 96%);
  --color-neutral-3: hsl(0, 0%, 98%);

  --horizontal-padding: 5%;

  --border-radius-sm: 5px;
  --border-radius-lg: 30px;
}

/* typography */

body {
  font-family: 'Public Sans', sans-serif;
  color: var(--color-neutral-1);
}

p {
  font-size: 0.9375rem;
  line-height: 1.5;
}

h1 {
  color: var(--color-primary-1);
  line-height: initial;
}

h2 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 var(--horizontal-padding);
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: white;
}

.header__button {
  display: none;
}

.link {
  text-decoration: none;
  color: var(--color-primary-1);
}

.main-nav {
  visibility: hidden;
  position: fixed;
  background-color: white;
  padding: 1.5rem 0;
  width: calc(100% - var(--horizontal-padding));
  top: 90px;
  border-radius: var(--border-radius-sm);
  text-align: center;
}

.main-nav__link {
  font-size: 1.125rem;
}

.main-nav__list-item + .main-nav__list-item {
  margin-top: 1rem;
}

.backdrop {
  position: fixed;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--color-primary-1), rgba(255, 255, 255, 0));
}

.hero {
  text-align: center;
  padding: 0 var(--horizontal-padding);
  padding-bottom: 4rem;
}

.hero__hero-background-image {
  position: absolute;
  background-image: url('/images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__hero-foreground-image {
  margin-top: -20%;
  height: 100%;
  z-index: 1;
}

.hero__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
}

.hero__text {
  margin: 1.5rem 0;
}

.button {
  font-family: inherit;
  border: 0;
  color: white;
  padding: 0.8rem 2rem;
  font-weight: 600;
  background: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3));
  border-radius: var(--border-radius-lg);
}

.button:hover {
  filter: contrast(0.3) brightness(1.5);
}

.section {
  padding: 4rem var(--horizontal-padding);
  text-align: center;
}

.section__title {
  font-size: 2rem;
  margin-top: 0;
  font-weight: 300;
}

.section--why {
  background-color: var(--color-neutral-2); 
}

.section__text {
  margin-top: 0;
}

.section__features {
  margin-top: 4rem;
}

.feature {
  text-align: center;
}

.feature__title {
  color: var(--color-primary-1);
  font-size: 1.3rem;
  font-weight: 300;
}

.features__feature + .features__feature {
  margin-top: 2.5rem;
}

.latest-articles {
  background-color: var(--color-neutral-3);
}

.article-preview {
  background-color: white;
  text-align: left;
}

.article-preview__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.article-preview__author {
  font-size: 0.7rem;
}

.article-preview__title {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: initial;
}

.article-preview__link {
  color: var(--color-primary-1);
  text-decoration: none;
}

.article-preview__link:hover {
  color: var(--color-primary-2);
}

.article-preview__text {
  margin-bottom: 0;
  line-height: 1.2;
}

.article-preview__body {
  padding: 1rem 2rem 1.5rem 2rem;
}

.articles__article-preview {
  margin: 1.5rem 0;
}

.footer {
  background-color: var(--color-primary-1);
  padding: 2.5rem var(--horizontal-padding) 3rem var(--horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inverted-logo {
  filter: contrast(0) brightness(2);
}

.footer__socials {
  margin: 2rem 0;
}

.socials-icon {
  padding: 0 6px;
}

.socials-icon:hover {
  filter: brightness(0) saturate(100%) invert(77%) sepia(23%) saturate(1785%) hue-rotate(74deg) brightness(94%) contrast(75%);
}

.footer__link {
  color: white;
  font-size: 0.9375rem;
}

.footer__link:hover {
  color: var(--color-primary-2)
}

.footer__nav-list {
  text-align: center;
}

.footer__nav-list-item + .footer__nav-list-item {
  margin-top: 0.8rem;
}

.footer__first-segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__third-segment {
  margin-top: 1.6rem;
  text-align: center;
}

.footer__copyright {
  margin-top: 1.6rem;
  font-size: 0.9rem;
}

.attribution {
  padding: 6px;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1280px) {
  :root {
    --horizontal-padding: 10%;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .header {
    height: 80px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .header__button {
    display: block;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  
  .main-nav {
    visibility: visible;
    width: initial;
    height: 100%;
    position: initial;
    padding: 0;
  }
  
  .main-nav__list {
    display: flex;
    height: 100%;
  }
  
  .main-nav__list-item {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .main-nav__list-item:hover {
    background: linear-gradient(to right, var(--color-primary-2), var(--color-primary-3)) no-repeat;
    background-position: bottom;
    background-size: 100% 5px;
  }
  
  .main-nav__list-item + .main-nav__list-item {
    margin-top: 0;
    margin-left: 2rem;
  }
  
  .main-nav__link {
    font-size: 0.9rem;
    color: var(--color-neutral-1);
  }
  
  .main-nav__link:hover {
    color: var(--color-primary-1);
  }
  
  .hero {
    height: 80vh;
  }
  
  .hero__title {
    font-size: 3.5rem;
  }
  
  .hero__hero-background-image {
    background-image: url('/images/bg-intro-desktop.svg');
    background-position: 630px -200px;
    left: initial;
    right: 0;
  }
  
  .hero__hero-foreground-image {
    position: absolute;
    margin-top: 0;
    width: 50%;
    right: -120px;
  }
  
  .hero__info {
    float: left;
    width: 40%;
    margin-top: 30vh;
  }
  
  .hero {
    text-align: left;
  }
  
  .section__title {
    font-size: 2.5rem;
    text-align: left;
  }
  
  .section__text {
    text-align: left;
    width: 45%;
  }
  
  .features {
    display: flex;
  }
  
  .features__feature + .features__feature {
    margin: 0 2rem;
  }
  
  .feature {
    text-align: left;
  }
  
  .articles {
    display: flex;
    justify-content: space-between;
  }
  
  .latest-articles__title {
    text-align: left;
  }
  
  .article-preview {
    width: 23%;
  }
  
  .article-preview__image {
    height: 200px;
    object-fit: fill;
  }
  
  .article-preview__text {
    font-size: 0.9rem;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer__first-segment {
    margin-top: 40px;
  }
  
  .footer__third-segment {
    text-align: right;
    margin-top: 0;
  }
}
